extends default

block content 
	header 
		img(src="/images/wf.png" width="180" height="180")
		a.logo(href='/') Real Time Weather Forecast 
	
	.container 
		if !searchResults || !searchResults.results
			.result-count 
				p No results found for your query
				|
				strong #{searchQuery}
		else 
			ul.searchResults 
				each place in searchResults.results
					li.location 
						a.name(target='_blank' href=`http://localhost:3000/weather?lat=${place.latitude}&lon=${place.longitude}`) #{place.name}, #{place.admin1}
						if !place.admin3
							p.info #{place.admin2}
						else 
							p.info #{place.admin3}, #{place.admin2}
						p.country #{place.country}
						p.coordinates (#{place.latitude}, #{place.longitude})