extends default 

block content 
	header 
		img(src="/images/wf.png" width="180" height="180")
		a.logo(href='/') Real Time Weather Forecast

	.weather-container 
		h1.current-title #{searchLocation}, #{searchLocationSecond}
		if !searchResults
			.result-count 
				p No results found for your query
		else 
			ul.weatherResults
				li.panel1
					p.cw-title Current Weather 
					p.date #{date}
					.current-temp
						img(src=`/${weatherImage}` width="100" height="100")
						p.temp #{searchResults.current_weather.temperature}#{searchResults.daily_units.temperature_2m_max}
					.current-wc 
						p.weathercode #{weathercode}
				li.panel2
					.windspeed 
						p 
							| Windspeed: 
							span.val #{searchResults.current_weather.windspeed} #{searchResults.daily_units.windspeed_10m_max}
							|
					p.winddirection 
						| Wind Direction: 
						span.val #{searchResults.current_weather.winddirection}#{searchResults.daily_units.winddirection_10m_dominant}
						|
			.links
				a.today(href=`http://localhost:3000/weather?lat=${searchResults.latitude}&lon=${searchResults.longitude}&n=${searchLocation}&n1=${searchLocationSecond}`) Today
				a.daily(target='_blank' href=`http://localhost:3000/daily?lat=${searchResults.latitude}&lon=${searchResults.longitude}&n=${searchLocation}&n1=${searchLocationSecond}`) Daily
			